<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/scripts/authority/commonAll.js"></script>
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
    <title></title>
    <script type="text/javascript">
        $(function () {
            SelDuty();
            /** 新增   **/
            $("#addBtn").fancybox({
                'href': '/tiao/addjishu',
                'width': 733,
                'height': 530,
                'type': 'iframe',
                'hideOnOverlayClick': false,
                'showCloseButton': false,
                'onClosed': function () {
                    window.parent.close();
                }
            });


            function SelDuty() {
                var haha=$("#haha").val();
                $.ajax({
                    "url": "/jishu/selJishu/"+haha,
                    "type": "post",
                    "dataType": "json",
                    "success": function (res) {
                        $(res).each(function () {
                            $("#AllDuty").append("<dl>\n" +
                                "                        <dd >"+this.name+"</dd>\n" +
                                "                        <dd>概述："+this.xinxi+"</dd>\n" +
                                "                        <dd>发展："+this.fazhang+"</dd>\n" +
                                "                        <dd>学习链接:<a href='"+this.href+"'>"+this.href+"</a></dd>\n" +
                                "                    </dl>");
                        });
                    }
                })
            }



        });

        function mohu() {
            var cha=$("#cha").val();
            $("#AllDuty").html("");
            $.ajax({
                "url": "/jishu/selmohu/"+cha,
                "type": "post",
                "dataType": "json",
                "success": function (res) {
                    $(res).each(function () {
                        $("#AllDuty").append("<dl>\n" +
                            "                        <dd >"+this.name+"</dd>\n" +
                            "                        <dd>概述："+this.xinxi+"</dd>\n" +
                            "                        <dd>发展："+this.fazhang+"</dd>\n" +
                            "                        <dd>学习链接:<a href='"+this.href+"'>"+this.href+"</a></dd>\n" +
                            "                    </dl>");
                    });
                }
            })
        }

    </script>
    <style>
        .alt td{ background:black !important;}
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="allIDCheck" th:value="${j.getBigId()}" id="haha"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <input id="cha" /><input th:type="button" onclick="mohu()" value="查询">
                <div id="box_border">
                    <div id="box_bottom">

                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table id="AllDuty" class="table" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">

                </table>
            </div>
            <!-- <div class="ui_tb_h30">
                <div class="ui_flt" style="height: 30px; line-height: 30px;">
                    共有
                    <span class="ui_txt_bold04">90</span>
                    条记录，当前第
                    <span class="ui_txt_bold04">1
                    /
                    9</span>
                    页
                </div>
                <div class="ui_frt">
                       如果是第一页，则只显示下一页、尾页

                        <input type="button" value="首页" class="ui_input_btn01" />
                        <input type="button" value="上一页" class="ui_input_btn01" />
                        <input type="button" value="下一页" class="ui_input_btn01"
                            onclick="jumpNormalPage(2);" />
                        <input type="button" value="尾页" class="ui_input_btn01"
                            onclick="jumpNormalPage(9);" />



                        如果是最后一页，则只显示首页、上一页

                    转到第<input type="text" id="jumpNumTxt" class="ui_input_txt01" />页
                         <input type="button" class="ui_input_btn01" value="跳转" onclick="jumpInputPage(9);" />
                </div>
            </div> -->
        </div>
    </div>
</form>

</body>
</html>