<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" src="/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/scripts/authority/commonAll.js"></script>
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/authority/jquery.fancybox-1.3.4.css" media="screen"></link>
    <title></title>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            // SelDuty()

            function SelDuty() {
                num = 0;
                $.ajax({
                    "url": "/ti/selTi",
                    "type": "post",
                    "dataType": "json",
                    "success": function (res) {
                        $(res).each(function (i) {
                            num++;
                            $("#AllDuty").append("<dl>\n" +
                                "                        <dd >" + this.id + "." + this.name + "</dd>\n" +
                                "                        <dd><input type='radio' value='A' name='name" + num + "'>A." + this.xuan1 + "&nbsp;&nbsp;&nbsp;&nbsp;" +
                                "<input type='radio' value='B' name='name" + num + "'>B." + this.xuan2 + "&nbsp;&nbsp;&nbsp;&nbsp;" +
                                "<input type='radio' value='C' name='name" + num + "'>C." + this.xuan3 + "</dd>\n" +
                                "                    </dl>");
                        });
                    }
                })
            }
        });
        window.onload=function(){         //一进该页面就加载以下方法
                               //显示右下角日期的方法
            setInterval('countDown()',1000);    //一般秒设置为参数为1000
        }
        var sec = 600;                  //设置倒计时时间为30秒
        function countDown() {        //倒计时的方法
            if(sec > 0) {
                num.innerHTML = sec--;
            } else {
                alert("时间到了") //倒计时为0进入的页面
            }
        }
        function jiaojun() {
            var fenshu=0;
            var answer = [[${answer}]];

            console.log(answer)

            console.log($(":checked"));

            $(":checked").each(function (i) {
                if ($(this).val() == answer[i]==true){
                    fenshu+=10;
                } else if ($(this).val() == answer[i]==false){

                }
                // alert($(this).val())
                // alert($(this).val() == answer[i])
            })
            alert("您最后得分"+fenshu);

            // var a= $(":radio").checked().val();
            // alert(a);
        }


    </script>
    <style>
        .alt td {
            background: black !important;
        }
    </style>
</head>
<body>
<form id="submitForm" name="submitForm" action="" method="post">
    <input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
    <input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
    <div id="container">
        <div class="ui_content">
            <div class="ui_text_indent">
                <div id="box_border">
                    <div id="box_bottom">
                       <span>倒计时：</span>
                        <span id="num" size="7" face="impact">600</span>秒
                            <!--<font color ="red"><h2 align="right">倒计时</h2>-->
                            <!--<font color ="red"><h3 align="right"id="num" size="7" face="impact">30</h3></font>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="ui_content">
            <div class="ui_tb">
                <table id="AllDuty" class="table" cellspacing="0" cellpadding="0" width="100%" align="center"
                       border="0">
                    <dl th:each="it: ${res}">
                        <dd><span th:text="${it.id}"></span>.<span th:text="${it.name}"></span></dd>
                        <dd>
                            <span>A.</span><input type="radio" value="A" th:name="${it.name}" th:text="${it.xuan1}">
                            <span>B.</span><input type="radio" value="B" th:name="${it.name}" th:text="${it.xuan2}">
                            <span>C.</span><input type="radio" value="C" th:name="${it.name}" th:text="${it.xuan3}">

                        </dd>

                    </dl>


                </table>
                <input type="button" value="交卷" class="ui_input_btn01" id="addBtn" onclick="jiaojun()"/>
            </div>
            <!-- <div class="ui_tb_h30">
                <div class="ui_flt" style="height: 30px; line-height: 30px;">
                    共有
                    <span class="ui_txt_bold04">90</span>
                    条记录，当前第
                    <span class="ui_txt_bold04">1
                    /
                    9</span>
                    页
                </div>
                <div class="ui_frt">
                       如果是第一页，则只显示下一页、尾页

                        <input type="button" value="首页" class="ui_input_btn01" />
                        <input type="button" value="上一页" class="ui_input_btn01" />
                        <input type="button" value="下一页" class="ui_input_btn01"
                            onclick="jumpNormalPage(2);" />
                        <input type="button" value="尾页" class="ui_input_btn01"
                            onclick="jumpNormalPage(9);" />



                        如果是最后一页，则只显示首页、上一页

                    转到第<input type="text" id="jumpNumTxt" class="ui_input_txt01" />页
                         <input type="button" class="ui_input_btn01" value="跳转" onclick="jumpInputPage(9);" />
                </div>
            </div> -->
        </div>
    </div>
</form>

</body>
</html>