<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jbit.guide_sys.mapper.AdminMapper">

    <select id="loadByUsername" resultType="Integer">
		select * from admin where a_name = #{a_name} and a_pass=#{a_pass}
	</select>

    <!--	<select id="selAdmin" resultType="cn.jbit.pojo.Admin">
        select * from admin
        </select>
        <insert id="addAmin" parameterType="cn.jbit.pojo.Admin">
        insert into admin values(null,#{a_name},#{a_password},1)
        </insert>
        <delete id="delAdmin">
        delete from  admin	where id=#{id}
        </delete>-->
</mapper>